.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tieude{
  color: rgb(33, 206, 17);
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10px;
}
.sua .fa{
  margin-right:7px ;
  color: white;
}
.sua{
  color: white;
}
.sua:hover{
  color: black;
}
.xoa .fa{
  margin-right:7px ;
}

.xoa:hover{
  color: black;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  text-align: center;
  color: #ff2f00;
  font-weight: 500;
  font-size: 22px;
}
.btn-block+.btn-block {
  margin-top: .5rem;
  margin-bottom: 10px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 38px;
}
.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
  margin-bottom: 10px;
}
.hihi{
  display: inline-block;
  margin-bottom: .5rem;
  margin-left: 420px;
  font-size: 28px;
  font-family: 'Dancing Script';
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  text-align: center;
  color: #ff2f00;
  font-weight: bold;
  font-size: 34px;
  font-family: 'Dancing Script';
}